/instructions.txt
/main.exe
/main.ilk
/main.obj
/main.pdb
/monitoring.cpp
/monitoring.exe
/monitoring.ilk
/monitoring.obj
/monitoring.pdb
/vc140.pdb
/window.cpp
/window.exe
/window.ilk
/window.obj
/window.pdb