#include "resource.h"

IDI_APP_ICON ICON "img/icon.ico"

ID_IMAGE_HAPPY                   RCDATA "img/happy.png"
ID_IMAGE_NEUTRAL                 RCDATA "img/neutral.png"
ID_IMAGE_GRIMACE_TWO_SWEAT       RCDATA "img/grimace_two_sweat.png"
ID_IMAGE_ANGUISH                 RCDATA "img/anguish.png"
ID_IMAGE_ANGUISH_VERY            RCDATA "img/anguish_very.png"
ID_IMAGE_ANGUISH_EXTREMELY       RCDATA "img/anguish_extremely.png"
ID_IMAGE_TIRED                   RCDATA "img/tired.png"
ID_IMAGE_TIRED_VERY              RCDATA "img/tired_very.png"
ID_IMAGE_TIRED_EXTREMELY         RCDATA "img/tired_extremely.png"
ID_IMAGE_PLEASED                 RCDATA "img/pleased.png"
ID_IMAGE_SURPRISED               RCDATA "img/surprised.png"
ID_IMAGE_GRIMACE                 RCDATA "img/grimace.png"
ID_IMAGE_HAPPY_BLINK             RCDATA "img/happy_blink.png"
ID_IMAGE_NEUTRAL_BLINK           RCDATA "img/neutral_blink.png"
ID_IMAGE_GRIMACE_TWO_SWEAT_BLINK RCDATA "img/grimace_two_sweat_blink.png"
ID_IMAGE_ANGUISH_BLINK           RCDATA "img/anguish_blink.png"
ID_IMAGE_ANGUISH_VERY_BLINK      RCDATA "img/anguish_very_blink.png"
ID_IMAGE_TIRED_VERY_BLINK        RCDATA "img/tired_very_blink.png"